.App {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-color:lightblue;
  
}
.formContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  border-radius: 10px;
  background-color: white;
  padding: 20px;
  height: 150px;
}
.calculateButton {
  padding: 15px 32px;
  font-size: 16px;
}
.result {
  padding: 15px 32px;
  font-size: 16px;
}
.errorLabels {
  color: rgb(230, 63, 63);
}
